<div class="row text-row">

  <div class="col-lg-6 col-md-12 col-sm-12">

    <div class="home-text1">
      <h3 class="text-center text-primary">Pricing</h3>
      <hr>
      <p>Siam Editing offers a professional service and our pricing is very competitive. Each project is considered individually, and an estimate given accordingly, though prices generally increase with the size and complexity of the project. For example, in the case of undergraduate and masters dissertations, there is a service charge of 60 GBP, and an editing fee of 5 GBP per 1000 words. For doctoral dissertations and academic manuscripts, there is a service charge of 60 GBP, and an editing fee of 8 GBP per 1000 words.</p>
    </div>

  </div><!-- end cols -->

  <div class=" col-lg-6 col-md-12 col-sm-12">

    <div class="home-text2">
      <h3 class="text-center text-primary">Contact Us</h3>
      <hr>
      <p>Please feel free to contact us if you have questions about any aspect of our service, we are very approachable and would be delighted to help you. The rates stated in the adjacent/above box are for one-off jobs, discount is offered to returning clients or groups / publishers requiring multiple documents edited. We are based in the UK and Ireland and accept both domestic and international clients. Click <a class="text-primary" href="{{site.baseurl }}/contact">HERE</a> to contact us via the email form, or give us a call at the number found on the home page and footer of this site.</p>
    </div>

  </div><!-- end cols -->



</div> <!-- end row -->
