<div class="row" id="pc-cards-row">

<div class="col-md-4 col-sm-6">
  <div class="home-card" >

    <h3 class="text-center text-primary">Dissertations</h3>

    <div class="card-img-holder">

      <img src="../images/cards/graduation-1.jpg" class="img-rounded center-block" alt="" width="200" height="200">

      <div class="pc-curtain center-block">
        <div class="caption center-block">
          <h4 class="text-center">Guaranteed English</h4>
          <p class="text-center">Academic formatting</p>
        </div>
      </div>

    </div> <!-- end img-holder -->

    <p>All of our editors are native speakers, and Ph.D. holders. 100% language guarantee. Academic formatting and English editing.</p>

  </div> <!-- end card -->
</div> <!-- end cols -->


<div class="col-md-4 col-sm-6">
  <div class="home-card" >

    <h3 class="text-center text-primary">Academic Manuscripts</h3>
    <div class="card-img-holder">

      <img src="images/cards/photo_journals-3.jpg" class="img-rounded center-block" alt="" width="200" height="200">

      <div class="pc-curtain center-block">
        <div class="caption center-block">
          <h4 class="text-center">Proofreading</h4>
          <p class="text-center">Journal formatting</p>
        </div>
      </div>

    </div> <!-- end img-holder -->

    <p>Professionally edited manuscripts. Proofreading / English editing and journal formatting. Improve your chances of being published.</p>

  </div> <!-- end card -->
</div> <!-- end cols -->


<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
  <div class="home-card" id="card-3">

    <h3 class="text-center text-primary">Publishers</h3>

    <div class="card-img-holder">

      <img src="images/cards/publishing-2.jpg" class="img-rounded center-block" alt="psd to code" width="200" height="200">

      <div class="pc-curtain center-block">
        <div class="caption center-block">
          <h4 class="text-center">Proofreading</h4>
          <p class="text-center">English editing</p>
        </div>
      </div>

    </div> <!-- end img-holder -->

    <p>Proofreading and editing for academic publishers. Academic books, technical manuals, text books. We also cater to self-publishers.</p>

  </div> <!-- end card -->

</div> <!-- end cols -->
</div><!-- end row -->
